# Project exclude paths
/cmake-build-debug/
/CMakeFiles/
/src/CMakeFiles/
/src/cmake_install.cmake
/src/Makefile
/Testing/Temporary/LastTest.log
/cmake_install.cmake
/Makefile
/bin/
CMakeCache.txt
/cmake-build-default/
/.vscode/settings.json
